{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edycja</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style3.css' %}">
</head>
<body>
<header>
    <div id="header-left">Serwis telefonów w Polsce</div>
    <div id="header-right"><p>Autor: Damian Cichocki<br>Grupa: WCY21IJ1N1</p></div>
    <div id="obraz"><img src="{% static '/images/logo_wcy.png' %}" alt="logo-wcy" id="obraz"></div>
    <div><a href="http://127.0.0.1:8000/PhoneService/"><img src="{% static '/images/back_arrow.png' %}" alt="back_arrow" id="back-arrow"></a></div>
</header>
<div id="content-main">
     <form method="post">
         {% csrf_token %}
            <div id="edition-search">
                <div id="first-form">
                    {{ form.search_value.label }}
                    {{ form.search_value }}
                        <button type="submit" id="edition-search-button" name="fill_values">Szukaj</button>
                </div>
                <div id="second-left-form">
                    {{ form.nr_case.label }}<br>
                    {{ form.imei.label }}<br>
                    {{ form.status.label }}<br>
                    {{ form.operator.label }}<br>
                    {{ form.model.label }}<br>
                    {{ form.workers.label }}<br>
                    {{ form.admission_date.label }}<br>
                    {{ form.end_date.label }}
                </div>
                <div id="second-right-form">
                    {{ form.nr_case }}<br>
                    {{ form.imei }}<br>
                    {{ form.status }}<br>
                    {{ form.operator }}<br>
                    {{ form.model }}<br>
                    {{ form.workers }}<br>
                    {{ form.admission_date }}<br>
                    {{ form.end_date }}<button id="add-end-date" name="add-end-date">Zakończ</button>
                    <button id="edit-button" type="submit" name="update_record">Edytuj</button>
                </div>
            </div>
     </form>
</div>
<footer>
    <div id="footer-text">
    <p>Strona została wykonana przez Damiana Cichockiego w celu zaliczenia przedmiotu Programowanie w językach funkcyjnych.
    Aplikacja webowa została utworzona za pomocą framework'a Django z zastosowaną bazą danych PostgreSQL.</p>
    </div>
    <div id="footer-button">
        <button class="statistic-button" onclick="window.location.href ='http://127.0.0.1:8000/PhoneService/Statystyka/'">Statystyki</button>
    </div>
</footer>

</body>
</html>