{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wyszukiwanie telefonów</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style2.css' %}">
</head>
<body>

<header>
    <div id="header-left">Serwis telefonów w Polsce</div>
    <div id="header-right"><p>Autor: Damian Cichocki<br>Grupa: WCY21IJ1N1</p></div>
    <div id="obraz"><img src="{% static '/images/logo_wcy.png' %}" alt="logo-wcy" id="obraz"></div>
    <div><a href="http://127.0.0.1:8000/PhoneService/"><img src="{% static '/images/back_arrow.png' %}" alt="back_arrow" id="back-arrow"></a></div>
</header>
<div id="content-main">
    <div id="searchbar">
        <p>Wyszukaj</p>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Szukaj</button>
        </form>
    </div>
    <div id="search-table">
        {% if list_of_phones %}
        <table>
            <thead>
            <tr>
                <th>Numer przypadku</th>
                <th>IMEI</th>
                <th>Tecznik</th>
                <th>Model</th>
                <th>Status</th>
                <th>Operator</th>
                <th>Data przyjęcia</th>
                <th>Data zakończenia</th>
            </tr>
            </thead>
            {% for phone in list_of_phones %}
            <tr>
                <td>{{ phone.nr_case}}</td>
                <td>{{ phone.imei }}</td>
                <td>{{ phone.id_worker.acronym }}</td>
                <td>{{ phone.id_phone.model }}</td>
                <td>{{ phone.status }}</td>
                <td>{{ phone.operator }}</td>
                {% if phone.admission_date != None %}
                    <td>{{ phone.admission_date }}</td>
                {% else %}
                    <td> </td>
                {% endif %}
               {% if phone.end_date != None %}
                    <td>{{ phone.admission_date }}</td>
                {% else %}
                    <td> </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>Nie znaleziono telefonów</p>
        {% endif %}
    </div>
</div>
<footer><p>Strona została wykonana przez Damiana Cichockiego w celu zaliczenia przedmiotu Programowanie w językach funkcyjnych.
    Aplikacja webowa została utworzona za pomocą framework'a Django z zastosowaną bazą danych PostgreSQL.</p>
</footer>
</body>
</html>